langchain
langchain-core
langchain-community
langchain-mistralai
langchain-huggingface
mistralai

streamlit
chromadb==0.4.24
faiss-cpu
sentence-transformers

pypdf
python-docx

python-dotenv

requests

protobuf==3.20.3